
<h4>Ex-alumnos</h4>
<ul class="side-nav">
    <li {% if page.url == "/ex-alumnos/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/ex-alumnos">Bienvenidos</a></li>
    <li {% if page.url == "/ex-alumnos/eventos/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/ex-alumnos/eventos">Eventos</a></li>
    <li {% if page.url == "/ex-alumnos/actualizacion-datos/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/ex-alumnos/actualizacion-datos">Actualización de datos</a></li>
    
</ul>



