<!--
<ul class="side-nav">
    <li><a href="{{ site.baseurl }}/admisiones">Bienvenidos</a></li>
    <li><a href="{{ site.baseurl }}/admisiones">Bienvenidos</a></li>
    <li><a href="{{ site.baseurl }}/admisiones">Bienvenidos</a></li>
</ul>
-->



<h4>Sportlight</h4>
[Foto]
<h6>Noticia</h6>

<hr>

<h4>Últimas novedades</h4>

<p>Noticia 1</p>
<p>Noticia 2</p>
<p>Noticia 3</p>
<a href="#">Más novedades</a>
<hr>


<h4>Próximos eventos</h4>

<p>Noticia 1</p>
<p>Noticia 2</p>
<p>Noticia 3</p>
<a href="#">Ver calendario </a>
<hr>



<h4>Chaltel Media</h4>


<hr>