<h4>Staff</h4>

<ul class="side-nav">
	<li {% if page.url == "/staff/" %}class="active"{% endif %}><a  href="{{ site.baseurl }}/staff">Inicio</a></li>
	<li {% if page.url == "/staff/soporte/" %}class="active"{% endif %}><a  href="{{ site.baseurl }}/staff/soporte">Soporte (pedido de materiales)</a></li>
    <li {% if page.url == "/staff/organizacion-evento/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/staff/organizacion-evento">Organización de Eventos</a></li>
    <li {% if page.url == "/staff/organizacion-mesa/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/staff/organizacion-mesa">Requerimientos para Mesa de Exámen</a></li>
    <li {% if page.url == "/staff/organizacion-salida/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/staff/organizacion-salida">Organización de Salidas</a></li>
    <li><a href="#">Organización de Torneos</a> [??????]</li>
</ul>

<hr>

<h4>Sportlight</h4>
[Foto]
<h6>Noticia</h6>

<hr>

<h4>Últimas novedades</h4>

<p>Noticia 1</p>
<p>Noticia 2</p>
<p>Noticia 3</p>
<a href="#">Más novedades</a>
<hr>


<h4>Próximos eventos</h4>

<p>Noticia 1</p>
<p>Noticia 2</p>
<p>Noticia 3</p>
<a href="#">Ver calendario </a>
<hr>

<h4>Chaltel Media</h4>


<hr>