<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - Chaltel College</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <!-- NO INDEX -->
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width">
        <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
        <script src="{{ site.baseurl }}/assets/scripts/vendor/modernizr.js"></script>
        <script type="text/javascript">
          (function() {
            var config = {
              kitId: 'yuc2bpi',
              scriptTimeout: 3000
            };
            var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
          })();
        </script>
    </head>
    <body>
        <!-- Edit current page -->
        <a class="edit-link" href="{% if page.path %}//prose.io/#landitus/chaltel-contenidos/edit/gh-pages/{{ page.path }}{% else %}//prose.io/#landitus/chaltel-contenidos{% endif %}" target="_blank">Editar</a>

        <header id="header">

            <div class="header-top">
                <div class="container">
                    <nav class="portal-nav">   
                        <ul>
                            <li><a href="{{ site.baseurl }}/alumnos">Alumnos</a></li>
                            <li><a href="{{ site.baseurl }}/padres">Padres</a></li>
                            <li><a href="{{ site.baseurl }}/staff">Staff</a></li>
                            <li><a href="{{ site.baseurl }}/ex-alumnos">Ex-Alumnos</a></li>
                        </ul> 
                    </nav><!-- .portal-nav -->
                </div><!-- .container -->
            </div><!-- .header-top -->
            
            <div class="container header-content">
                
                <div class="branding">
                    <h1 class="logo"><a href="{{ site.baseurl }}/">Chaltel College</a></h1>
                </div>
                
                <nav class="main-nav">
                    <ul>
                        <li {% if site.url == "index" %}class="current"{% endif %}><a href="{{ site.baseurl }}/nosotros">Sobre Nosotros</a></li>
                        <li {% if mixture.url == "model" %}class="current"{% endif %}><a href="{{ site.baseurl }}/admisiones">Admisiones</a></li>
                        <li {% if mixture.url == "model" %}class="current"{% endif %}><a href="{{ site.baseurl }}/proyecto-educativo">Proyecto Educativo</a></li>
                        <li {% if mixture.url == "model" %}class="current"{% endif %}><a href="#">Más...</a></li>
                        <li {% if mixture.url == "model" %}class="current"{% endif %}><a href="{{ site.baseurl }}/admisiones/entrevista">Solicitar una entrevista</a></li>
                    </ul>
                </nav><!-- .main-nav -->
            </div><!-- .header-content -->

        </header><!-- #header -->

            
        <div id="content">

            <nav class="breadcrumb">
                <ul>
                    <li><a href="/">Inicio</a></li>
                   
                </ul>
            </nav>

            <section class="main">
                {{ content }}
            </section>


            <!-- Submenues -->
            {% if page.submenu == 'nosotros'  %}
            <aside class="navigation">
                {% include nosotros.nav.html %}
            </aside>
            {% endif %}
            
            {% if page.submenu == 'admisiones'  %}
            <aside class="navigation">
                {% include admisiones.nav.html %}
            </aside>
            {% endif %}

            {% if page.submenu == 'proyecto'  %}
            <aside class="navigation">
                {% include proyecto.nav.html %}
            </aside>
            {% endif %}

            {% if page.submenu == 'exalumnos'  %}
            <aside class="navigation">
                {% include exalumnos.nav.html %}
            </aside>
            {% endif %}

            {% if page.submenu == 'alumnos'  %}
            <aside class="navigation">
                {% include alumnos.nav.html %}
            </aside>
            {% endif %}

            {% if page.submenu == 'padres'  %}
            <aside class="navigation">
                {% include padres.nav.html %}
            </aside>
            {% endif %}

            {% if page.submenu == 'staff'  %}
            <aside class="navigation">
                {% include staff.nav.html %}
            </aside>
            {% endif %}



        </div><!-- #content -->
            
        {% include footer-nav.html %}
        
        </div><!-- #container -->
    
       <!-- RequireJS -->
       <!-- Use data-main="absolute-path-to-main-js" -->
        <script src="{{ site.baseurl }}/assets/scripts/vendor/require.js"></script>
        <script>require({baseUrl: '{{ site.baseurl }}/assets/scripts'}, ['{{ site.baseurl }}/assets/scripts/config.js'])</script>

    </body>
</html>
