#header {
	margin-bottom: 0;
}
#content > .navigation {
    @include grid-column(12, $float:left);
 
}
.side-nav {
	@include clearfix;
	padding: 0;
	margin-bottom: 1.5em;
	border-bottom: 2px solid #ececec;
	li {
		float: left;
		margin-bottom: 0;
		a { 
			padding: 1.5em 1em 1.25em 1em;
			border-bottom: 4px solid transparent;
		}
	}
	li.active a {
		border-bottom: 4px solid #ececec;
	}
}